<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>标签分析 - 按日期</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="/theme/echarts/echarts-2.0.min.js"></script>
    <script src="/theme/jquery/jquery-2.2.4.js"></script>
    <script src="/theme/jquery/jquery-easyui/jquery-easyui-1.5.5.7.min.js"></script>
    <script src="/theme/jquery/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="/theme/jquery/jquery-easyui-extend/jquery-easyui-extend.js"></script>
    <script src="/theme/jquery/bulemine-core.js"></script>
    <script th:src="@{'/service/tag/findAll/'+${token}+'?callback=loadTagTree'}"></script>
    <link rel="stylesheet" type="text/css" href="/theme/jquery/jquery-easyui/css/jquery-easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/theme/default/jquery-easyui-reset.css"/>
    <link rel="stylesheet" type="text/css" href="/theme/jquery/jquery-easyui-extend/css/jquery-easyui-extend.css"/>
    <link rel="stylesheet" type="text/css" href="/theme/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/theme/default/style.css"/>
    <style>
        .combo-panel .tree-icon {
            display: none;
        }
    </style>
</head>
<body>
<div th:replace="common/header::header"></div>
<div th:replace="common/main-west::main-west(2, '2-1')"></div>


<div class="main-center">
    <div class="main-center-box">
        <div class="main-center-row">
            <h2>标签分析</h2>
        </div>
        <div class="main-center-row">
            <div class="tab-box">
                <div class="tab-item"><a href="tag">按标签</a></div>
                <div class="tab-item tab-item-selected" href="date"><a>按日期</a></div>
            </div>
            <div class="tab-panel">
                <div class="control-group">
                    <form id="search-form">
                        <ul class="main-center-filter">
                            <li>
                                <input id="daterange" name="daterange" class="easyui-daterange" style="width:200px;" value="2018-01-01/new Date()"/>
                            </li>
                            <li>
                                <input id="tagIds" name="tagIds" class="easyui-combotree"/>
                            </li>
                            <li>
                                <button class="btn-search" type="button">查询</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <div class="tags-datagrid">
            <table id="tagtab" class="easyui-treegrid" width="100%">
                <tr id="firsttr" height="42" style="background-color: #f9f9f9;font-weight: bold;">
                    <td>序号</td>
                    <td>日期</td>
                    <td>标签</td>
                    <td>次数</td>
                    <td>会话数</td>
                </tr>
            </table>
        </div>

    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    //    <![CDATA[
    $(function () {
        var channelId = [[${token}]];
        var queue = bulemine.queue();
        var searchform = $('#search-form');
        var searchbtn = $('.control-group .btn-search');
        var daterange = $('#daterange');
        var tagIds = $('#tagIds');

        daterange.daterange({
            labelWidth: 40,
            labelAlign: 'right',
            width: 250,
            reversed: true,
            separator: '/',
            required: true,
            label: '日期',
            labelPosition: 'left'
        });

        tagIds.combotree({
            label: '标签',
            labelPosition: 'left',
            labelWidth: 40,
            labelAlign: 'right',
            width: 250,
            multiple:true,
            checkbox:false,
            cascadeCheck: false,
            data: TAGTREE_DATA
        });

        function reload() {
            var dates = daterange.daterange('getValue');
            var ids = tagIds.combotree('getValues');
            //add search code
            console.log(dates);
            console.log(ids);
            try {
                console.log($.valueFrom(ids, 0, true));
            } catch (e) {}

            bulemine.ajaxJson({
                url: "/service/tag/collect/findAll",
                masking: true,
                params: {
                    data: {
                        channelId: CHANNEL_ID,
                        daterange: dates,
                        tagIds: [$.valueFrom(ids, 0, true)]
                    }
                },
                callback: function (ok, data, msg, opts) {
                    if (ok) {
                        console.log(data);
                        $('#tagtab').datagrid({
                            columns: [
                                //{ headerText: "", headerAlign: "center", dataAlign: "center", width: "20", handler: "customCheckBox" },
                                { headerText: "序号", headerAlign: "left", dataAlign: "left", width: "5" },
                                { headerText: "日期", dataField: "callDate", headerAlign: "left",width: "100" },
                                { headerText: "标签", dataField: "tagText", headerAlign: "left", dataAlign: "left", width: "100" },
                                { headerText: "次数", dataField: "frequency", headerAlign: "left", dataAlign: "left", width: "50" },
                                { headerText: "会话数", dataField: "callNum", headerAlign: "left", dataAlign: "left", width: "100" }
                            ],
                            //data: data
                            data: [
                                {
                                    "callDate": "1",
                                    "tagText": "2",
                                    "frequency": "3",
                                    "callNum": "4"
                                },
                                {
                                    "callDate": "1",
                                    "tagText": "2",
                                    "frequency": "3",
                                    "callNum": "4"
                                }
                            ]
                        });

                        /*$("#firsttr").nextAll().remove();
                        var html = "";
                        for(n in data) {
                            html += "<tr style='height: 30px;'>" +
                                    "<td>" + (n+1) + "</td>" +
                                    "<td>" + data[n].callDate + "</td>" +
                                    "<td>" + data[n].tagText + "</td>" +
                                    "<td>" + data[n].frequency + "</td>" +
                                    "<td>" + data[n].callNum + "</td>" +
                                    "</tr>";
                        }

                        $("#firsttr").after(html);*/
                    } else {
                        alert('[ERROR]' + msg);
                    }
                }
            });



        }
        reload();

        searchbtn.bind('click', function () {
            if (searchform.form('validate')) {
                reload();
            }
        });
    });
    //    ]]>
</script>
</body>
</html>