<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>标签分析 - 按日期</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="/theme/jquery/jquery-2.2.4.js"></script>
    <script src="/theme/jquery/jquery-easyui/jquery-easyui-1.5.5.7.min.js"></script>
    <script src="/theme/jquery/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="/theme/jquery/jquery-easyui-extend/jquery-easyui-extend.js"></script>
    <script src="/theme/jquery/bulemine-core.js"></script>
    <script th:src="@{'/service/tag/findAll/'+${token}+'?callback=loadTagTree'}"></script>
    <link rel="stylesheet" type="text/css" href="/theme/jquery/jquery-easyui/css/jquery-easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/theme/default/jquery-easyui-reset.css"/>
    <link rel="stylesheet" type="text/css" href="/theme/jquery/jquery-easyui-extend/css/jquery-easyui-extend.css"/>
    <link rel="stylesheet" type="text/css" href="/theme/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/theme/default/style.css"/>
    <style>
        .combo-panel .tree-icon {
            display: none;
        }
        .datagrid-header-row td{background-color:#f9f9f9;color:#000;text-align:center}
        .tagrow {
            color: #00f;
        }
    </style>
</head>
<body>
<div th:replace="common/header::header"></div>
<div th:replace="common/main-west::main-west(2, '2-1')"></div>


<div class="main-center">
    <div class="main-center-box">
        <div class="main-center-row">
            <h2>标签分析</h2>
        </div>
        <div class="main-center-row">
            <div class="tab-box">
                <div class="tab-item"><a href="tag">按标签</a></div>
                <div class="tab-item tab-item-selected" href="date"><a>按日期</a></div>
            </div>
            <div class="tab-panel">
                <div class="control-group">
                    <form id="search-form">
                        <ul class="main-center-filter">
                            <li>
                                <input id="dateType" name="dateType" class="easyui-combotree" value="day" />
                            </li>
                            <li>
                                <input id="daterange" name="daterange" class="easyui-daterange" style="width:200px;" value="2018-01-01/new Date()" />
                            </li>
                            <li>
                                <input id="tagIds" name="tagIds" class="easyui-combotree" />
                            </li>
                            <li>
                                <button class="btn-search" type="button">查询</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <div class="tags-datagrid">
            <table id="tagtab" class="easyui-datagrid" style="width:100%;min-height: 389px;" data-options="singleSelect:true">
                <thead>
                <tr>
                    <th data-options="field:'callDate',width:'15%',align:'center'"><b>日期</b></th>
                    <th data-options="field:'tagText',width:'25%',align:'center'"><b>标签</b></th>
                    <th data-options="field:'totalFrequency',width:'30%',align:'center',sortable:true"><b>次数</b></th>
                    <th data-options="field:'callNum',width:'30%',align:'center',sortable:true"><b>会话数</b></th>
                </tr>
                </thead>
            </table>
        </div>

    </div>
</div>
<script type="text/javascript" th:inline="javascript">

    //    <![CDATA[
    $(function () {
        var channelId = [[${token}]];
        var searchform = $('#search-form');
        var searchbtn = $('.control-group .btn-search');
        var valueList = [];
        var dType = $('#dateType');
        var daterange = $('#daterange');
        var tagIds = $('#tagIds');
        var sort = [];
        var pageSize = 10;
        var pageList = [10, 20, 30];

        dType.combotree({
            label: '',
            labelPosition: 'center',
            labelWidth: 40,
            labelAlign: 'right',
            width: 50,
            multiple: false,
            checkbox: false,
            cascadeCheck: false,
            panelHeight:95,
            data: [
                {
                    "id": "day",
                    "text": "日"
                }, {
                    "id": "week",
                    "text": "周"
                }, {
                    "id": "month",
                    "text": "月"
                }
            ]
        });

        daterange.daterange({
            labelWidth: 40,
            labelAlign: 'right',
            width: 250,
            reversed: true,
            separator: '/',
            required: true,
            label: '日期',
            labelPosition: 'left'
        });

        tagIds.combotree({
            label: '标签',
            labelPosition: 'left',
            labelWidth: 40,
            labelAlign: 'right',
            width: 250,
            multiple:true,
            checkbox:false,
            cascadeCheck: false,
            data: TAGTREE_DATA
        });
        var allTag = $('#tagIds').combotree('tree').tree('getRoots');
        function appendZero(obj) {
            if (obj < 10) return "0" + "" + obj;
            else return obj;
        }

        function checkTree(tags, pid) {
            for (var i = 0; i < tags.length; i++) {
                var child = tags[i].children;
                if (tags[i].id == pid) {

                    for (var j = 0; j < child.length; j++) {
                        valueList.push(child[j].id);
                    }
                    break;
                } else {
                    checkTree(child, pid);
                }
            }
        }

        function existChild(tags, pid) {
            haschild = false;
            for (var i = 0; i < tags.length; i++) {
                if (!haschild) {
                    var child = tags[i].children;
                    if (tags[i].id == pid) {
                        if (child.length > 0) {
                            haschild = true;
                            return true;
                        } else {
                            return false;
                        }
                        break;
                    } else {
                        existChild(child, pid);
                    }
                }
            }
        }

        function reload(pid) {
            if (pid != "") {
                checkTree(allTag, pid);
                $("#tagIds").combotree('setValue', valueList);
            }

            var dates = daterange.daterange('getValue');
            var ids = tagIds.combotree('getValues');
            var dateType = dType.combotree('getValues')[0];
            //add search code

            var url = "/service/tag/collect/findAll";
            if (pid != "") {
                url = "/service/tag/collect/findSub";
            }

            $('#tagtab').datagrid({
                rownumbers: true,
                fitColumns: true,
                pagination: true,
                remoteSort: true,
                pageSize: ($(".pagination-page-list").val() == undefined ? pageSize : $(".pagination-page-list").val()),
                pageList: pageList,
                sortable: true,
                onSortColumn: function (s, o) {
                    if (s == "totalFrequency") {
                        s = "FREQ";
                    }
                    if (s == "callNum") {
                        s = "CALL";
                    }
                    sort = [{
                        property: s,
                        direction: o.toUpperCase()
                    }]
                    reload(pid);
                },
                loader: function(param,success,error){
                    var params = {
                        data: {
                            channelId: channelId,
                            dateType: dateType,
                            daterange: dates,
                            tagIds: ids,
                            parentId: pid
                        },
                        paging: {
                            size: $(".pagination-page-list").val(),
                            page: $(".pagination-num").val() != 0?($(".pagination-num").val()-1):$(".pagination-num").val(),
                            sort: sort
                        }
                    }
                    bulemine.ajaxJson({
                        url: url,
                        masking: true,
                        params: params,
                        callback: function (ok, data, msg, da, opts) {
                            if (ok) {
                                for (k in data) {
                                    if (dateType == "week") {
                                        var wk = data[k].callWeek.toString();
                                        data[k].callDate = wk.substring(0, 4) + "年第" + wk.substring(wk.length - 2) + "周";
                                    }
                                    if (dateType == "month") {
                                        data[k].callDate = data[k].callYear + "-" + appendZero(data[k].callMonth);
                                    }

                                    existChild(allTag, data[k].tagId);
                                    if (haschild) {
                                        data[k].tagText = "<a href='javascript:void(0);' class='tagrow' data='" + data[k].tagId + "'>" + data[k].tagText + "</a>";
                                    } else {
                                        data[k].tagText = data[k].tagText;
                                    }

                                }
                                var griddata = {
                                    total: da.total,
                                    rows: data
                                }
                                success(griddata);
                            } else {
                                alert('[ERROR]' + msg);
                            }
                        }
                    });
                },
                onLoadError: function () {
                    alert("err");
                },
                onLoadSuccess: function (data) {
                    $(".tagrow").click(function () {
                        reload($(this).attr("data"));
                    });
                },
                onClickRow: function (rowIndex, rowData) {

                }
            });
        }
        reload("");

        searchbtn.bind('click', function () {
            if (searchform.form('validate')) {
                reload("");
            }
        });
    });
    //    ]]>
</script>
</body>
</html>