<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>标签分析 - 按标签</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="/theme/jquery/jquery-2.2.4.js"></script>
    <script src="/theme/jquery/jquery-easyui/jquery-easyui-1.5.5.7.min.js"></script>
    <script src="/theme/jquery/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="/theme/jquery/bulemine-core.js"></script>
    <script src="/service/tag/findAll/49252889384718336?callback=loadTagTree"></script>

    <link rel="stylesheet" type="text/css" href="/theme/jquery/jquery-easyui/css/jquery-easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/theme/default/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/theme/default/css/jquery-easyui-reset.css"/>
    <link rel="stylesheet" type="text/css" href="/theme/css/style.css"/>
    <script type="text/javascript" th:inline="javascript">
        //    <![CDATA[
        var CHANNEL_ID = '49252889384718336';
        var FILTER_QUEUE = bulemine.queue();
        //    ]]>
    </script>
</head>
<body>
<div th:replace="/common/header::header"></div>
<div th:replace="/common/main-west::main-west(2, 204)"></div>

<div class="main-center">
    <div class="main-center-box">
        <div class="main-center-row">
            <h2>标签分析</h2>
        </div>

        <div class="main-center-row">
            <div class="tab-box">
                <div class="tab-item tab-item-selected"><a>按标签</a></div>
                <div class="tab-item"><a>按日期</a></div>
            </div>
            <div class="tab-panel">
                <div class="control-group">
                    <form id="filter-form">
                        <ul class="main-center-filter">
                            <li>
                                <label>开始日期：</label><input class="daterange-form" name="daterangeForm" type="text"/>
                            </li>
                            <li>
                                <label>结束日期：</label><input class="daterange-to" name="daterangeTo" type="text"/>
                            </li>
                            <li>
                                <label>标签：</label><input class="tag-select" name="tagIds" readonly="true" style="width: 300px;" value="全部 / "/>
                            </li>
                            <li>
                                <button class="btn-search" type="button">查询</button>
                            </li>
                        </ul>
                    </form>
                </div>
                <!--近30天趋势图-->
                <div class="main-center-panel">
                    <div class="main-center-panel-header">
                        近30天趋势图
                    </div>
                    <div class="main-center-panel-container">
                        <ui class="panel-gadget">
                            <!--<li class="panel-gadget-col">
                                <select id="trend-gradient-date" name="trend-gradient-date" style="width:50px;">
                                    <option selected="selected">日</option>
                                    <option>周</option>
                                    <option>月</option>
                                </select>
                            </li>-->
                            <li class="panel-gadget-col">
                                <button id="exportbtn">导出</button>
                            </li>
                        </ui>
                        <div id="axis-call" class="panel-canvas"
                             style="width: 100%; height: 400px;z-index: 1;">

                        </div>
                    </div>
                </div>

                <!--子标签分布-->
                <div class="main-center-panel">
                    <div class="main-center-panel-header">
                        子标签分布
                    </div>
                    <div class="main-center-panel-container">
                        <div id="pie-rule" class="sub-tag-pie"></div>
                        <div id="pie-call" class="sub-tag-pie"></div>
                    </div>
                </div>

                <!--会话内容-->
                <div class="main-center-panel">
                    <div class="main-center-panel-header">
                        会话内容
                    </div>
                    <div class="main-center-panel-container">
                        <table class="call-summary" cellpadding="0" cellspacing="0" border="0"
                               width="100%">
                            <tr>
                                <th colspan="3">会话ID - 会话类型 - 坐席</th>
                                <th class="call-daterange">开始时间 - 结束时间</th>
                            </tr>
                            <tr>
                                <td class="call-time">12:11:32</td>
                                <td class="call-member call-customer">客户:</td>
                                <td>XXXXX</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="call-time">12:11:32</td>
                                <td class="call-member">客服:</td>
                                <td>XXXXX</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="4" class="call-dock">
                                    <button type="button">展开</button>
                                </td>
                            </tr>
                        </table>
                        <table class="call-summary" cellpadding="0" cellspacing="0" border="0"
                               width="100%">
                            <tr>
                                <th colspan="3">会话ID - 会话类型 - 坐席</th>
                                <th class="call-daterange">开始时间 - 结束时间</th>
                            </tr>
                            <tr>
                                <td class="call-time">12:11:32</td>
                                <td class="call-member call-customer">客户:</td>
                                <td>XXXXX</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="call-time">12:11:32</td>
                                <td class="call-member">客服:</td>
                                <td>XXXXX</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="4" class="call-dock">
                                    <button type="button" class="call-expand">收起</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>