@charset "utf-8";

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: tahoma, simsun, arial, "\5b8b\4f53", "宋体", "Microsoft YaHei", \u5fae\u8f6f\u96c5\u9ed1, "微软雅黑", "Hiragino Sans GB", MingLiu;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
    outline: none;
    padding: 0px;
    margin: 0px;
}

input, button {
    list-style: none;
    outline: none;
}

ol, ul, li, span, select {
    list-style: none;
    outline: none;
    margin: 0px;
    padding: 0px;
}

.lf {
    float: left;
}

.rh {
    float: right;
}

a {
    list-style: none;
    outline: none;
}

a:link {
    text-decoration: none;
    list-style: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
    list-style: none;
    outline: none;
}
