<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>语义分析 - 标签分析</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="/theme/jquery/jquery-ui/jquery-2.2.4.js"></script>
    <script src="/theme/jquery/jquery-ui/jquery-ui-1.11.4.js"></script>
    <script src="/theme/jquery/bulemine-core.js"></script>
    <script src="/theme/echarts.min.js"></script>
    <script src="/theme/tag/options.js"></script>
    <script src="/theme/tag/index.js"></script>
    <script src="/service/tag/findAll/49252889384718336?callback=loadTagTree"></script>
    <link rel="stylesheet" type="text/css" href="/theme/jquery/jquery-ui/css/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="/theme/dark-blue/css/jquery-ui-reset.css"/>
    <link rel="stylesheet" type="text/css" href="/theme/css/style.css"/>

    <script src="/theme/jquery/jquery-treetable/js/jquery-treetable-1.0.0.js"></script>
    <link rel="stylesheet" type="text/css" href="/theme/jquery/jquery-treetable/css/jquery-treetable.css"/>

    <style>
        /*index.css*/

        /*dark-blue/css/style.css*/

        /*dark-blue/css/jquery-reset.css*/

    </style>
</head>
<body>
<div th:replace="/common/header::header"></div>
<div th:replace="/common/main-west::main-west(2, '2-1')"></div>

<div id="tags-dialog" style="display: none;" title="选择标签">
    <div id="tags-tree">

    </div>
</div>
<script type="text/javascript" th:inline="javascript">
//    <![CDATA[
    bulemine.loader(function () {
        $("#tags-dialog").dialog({
            width: 800,
            height: 500,
            autoOpen: false,
            resizable: false,
            modal: true,
            buttons: {
                '关闭': function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#tags-tree").treetable({
            data: TAGTREE_DATA,
            treeWidth: 100,
            width: '100%',
            height: 200,
            nodeTextField: 'tagText',
            treeTitle: '所有标签',
            treeLeft: 10,
            rootText: '全部',
            rowHeight: 30,
            expand: true,
            columns: [{
                name: 'tagId',
                text: '标签ID'
            }, {
                name: 'rules',
                text: '规则数',
                format: function (val, record) {
                    if (val == undefined)
                        return '';
                    return val.length;
                }
            }, {
                name: 'activated',
                text: '有效',
                format: function (val, record) {
                    if (val == undefined)
                        return '';
                    return val ? '是' : '否';
                }
            }],
            onSelect: function (row, e, data) {
                var list = $("#tags-tree").treetable('crumbs', row);
                $('#open-tags-dialog').data('selected', data).val(bulemine.crumbs(list));
            }
        });
    });
//    ]]>
</script>

<div class="main-center">
    <div class="main-center-box">
        <div class="main-center-row">
            <h2>标签分析</h2>
        </div>
        <div class="main-center-row">
            <div class="dark-blue" id="tabs">
                <ul>
                    <li><a href="#tabs-1">按标签</a></li>
                    <li><a href="#tabs-2">按日期</a></li>
                </ul>
                <div id="tabs-1" class="control-group">
                    <ul class="main-center-filter">
                        <li>
                            <label>日期：</label><input type="text" class="to" />
                        </li>
                        <li>
                            <label>标签：</label><input readonly="true" style="width: 300px;" class="tag-select" id="open-tags-dialog" value="全部 / "/>
                        </li>
                        <li>
                            <button id="subBtn">查询</button>
                        </li>
                    </ul>

                    <script type="text/javascript" th:inline="javascript">
                        //    <![CDATA[
                        bulemine.loader(function () {
                            $('#open-tags-dialog').on('click', function () {
                                $("#tags-dialog").dialog('open');
                            });
                        });
                        //    ]]>
                    </script>
                    <div class="main-center-panel">
                        <div class="main-center-panel-header">
                            近30天趋势图
                        </div>
                        <div class="main-center-panel-container">
                            <ui class="panel-gadget">
                                <!--<li class="panel-gadget-col">
                                    <select id="trend-gradient-date" name="trend-gradient-date" style="width:50px;">
                                        <option selected="selected">日</option>
                                        <option>周</option>
                                        <option>月</option>
                                    </select>
                                </li>-->
                                <li class="panel-gadget-col">
                                    <button id="exportbtn">导出</button>
                                </li>
                            </ui>
                            <div id="kind" class="panel-canvas" style="width: 100%; height: 30px;z-index: 1;">
                                <div style="width: 120px;line-height: 27px;;text-align: center;margin: 0 auto;">
                                    <div id="led1" class="led-enable">次数</div>
                                    <div id="led2" class="led-disable" style="margin-left: 10px;">会话数</div>
                                </div>
                            </div>
                            <div id="main" class="panel-canvas" style="width: 100%; height: 300px;z-index: 1;">

                            </div>
                        </div>
                    </div>
                    <script type="text/javascript" th:inline="javascript">
                        //    <![CDATA[
                        bulemine.loader(function () {
                            bulemine.charts({
                                export: null,
                                gradientDate: $("#trend-gradient-date"),
                                init: function () {

                                },
                                reset: function () {

                                },
                                change: function (name, val) {

                                }
                            });
                        });
                        //    ]]>
                    </script>
                    <div class="main-center-panel">
                        <div class="main-center-panel-header">
                            子标签分布
                        </div>
                        <div class="main-center-panel-container">
                            <div style="height: 300px;">
                                <div id="fdiv" style="float: left;width: 50%; height: 300px;z-index: 1;">aaa</div>
                                <div id="cdiv" style="float: left;width: 50%; height: 300px;z-index: 1;">bbb</div>
                            </div>
                        </div>
                    </div>
                    <div class="main-center-panel">
                        <div class="main-center-panel-header">
                            会话内容
                        </div>
                        <div class="main-center-panel-container">
                            <div>会话列表</div>
                        </div>
                    </div>
                </div>


                <div id="tabs-2">
                    <p><strong>Click this tab again to close the content pane.</strong></p>
                    <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus
                        id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus
                        eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse
                        sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing.
                        Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla.
                        Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium
                        posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et
                        purus.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    //    <![CDATA[
    bulemine.loader(function () {
        $("#tabs").tabs();
        $(".form").datepicker({
            dayNamesMin: ["一", "二", "三", "四", "五", "六", "日"],
            monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
            dateFormat: "yy-mm-dd",
            changeMonth: true,
            changeYear: true
        });

        $(".to").datepicker({
            dayNamesMin: ["一", "二", "三", "四", "五", "六", "日"],
            monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
            dateFormat: "yy-mm-dd",
            changeMonth: true,
            changeYear: true
        });
    });
    //    ]]>
</script>
</body>
</html>