<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>规则配置 - 标签管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="/theme/jquery/jquery-2.2.4.js"></script>
    <script src="/theme/jquery/jquery-easyui/jquery-easyui-1.5.5.7.min.js"></script>
    <script src="/theme/jquery/jquery-easyui-extend/jquery-easyui-extend.js"></script>
    <script src="/theme/jquery/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="/theme/jquery/bulemine-core.js"></script>
    <script src="/service/tag/findAll/49252889384718336?callback=loadTagTree"></script>

    <link rel="stylesheet" type="text/css" href="/theme/jquery/jquery-easyui/css/jquery-easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/theme/default/jquery-easyui-reset.css"/>
    <link rel="stylesheet" type="text/css" href="/theme/css/style.css"/>
    <style>

        .datagrid-row{
            cursor: pointer;
        }

        .datagrid-row-selected
        , .datagrid-row-over{
            background-color: transparent;
        }

        .datagrid-row-editing {
            background: #e6f0fa;
        }

        .datagrid-row-editing .datagrid-link {
            color: #666666;
            margin: 0 0 0 4px;
        }

        .datagrid-row-editing .datagrid-link:hover {
            color: #006FFF;
        }

        .datagrid-header {
            background-color: #F9F9F9;
        }

        .datagrid-header-row td
        , .datagrid .datagrid-row td{
            height: 40px;
        }

        .tags-datagrid .datagrid-cell {
            margin: 0 10px;
        }

        .tags-datagrid .tree-icon {
            display: none;
        }

        .tags-datagrid .easyui-linkbutton .l-btn-text {
            font-size: 12px;
        }

        .tags-datagrid .datagrid-body .l-btn {
            color: #006FFF;
            border: 0px;
        }

        .tags-datagrid .datagrid-body .l-btn:hover {
            background-color: transparent;
        }


    </style>
</head>
<body>
<div th:replace="/common/header::header"></div>
<div th:replace="/common/main-west::main-west(3, 301)"></div>

<div title="添加子标签" id="tag-dialog">
    <form>
        <table width="100%" cellpadding="0" cellspacing="10" border="0">
            <tbody>
            <tr>
                <td style="width: 80px; text-align: right;">父级名:</td>
                <td><span name="tagCrumbs"></span></td>
            </tr>
            <tr>
                <td style="text-align: right;">子级名:</td>
                <td><input name="tagName" style="width: 80%" class="easyui-validatebox"
                           data-options="validateOnCreate:false, validateOnBlur:true, required:true, validType:'length[1,10]'"/>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<div title="配置规则" id="rules-dialog">
    <table class="rules-datagrid" width="100%" cellpadding="0" cellspacing="5" border="0">
    </table>
</div>

<div class="main-center">
    <div class="main-center-box">
        <div class="main-center-row">
            <h2>标签管理</h2>
        </div>
        <div class="main-center-row control-group">
            <ul class="main-center-filter">
                <li>
                    <input style="width: 300px;" class="tag-select"/>
                </li>
                <li>
                    <button>查询</button>
                </li>
            </ul>
            <div class="tags-datagrid">
                <table class="easyui-treegrid" width="100%">

                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    //<![CDATA[

    var event_handle = {};

    bulemine.loader(function () {

        var tagtree = $('.tags-datagrid .easyui-treegrid');

        function refreshTree() {
            $.parser.parse(tagtree.treegrid('getPanel').find('.datagrid-row'));
        }


        var tagdialog = $('#tag-dialog');
        var tagform = tagdialog.find('form');

        var ruledialog = $('#rules-dialog');
        var rulegrid = ruledialog.find('.rules-datagrid');


        event_handle.onTagActivated = function (val) {
            var id = $(this).data('id');
            var row = tagtree.treegrid('find', id);
            bulemine.ajaxJson({
                url: "/service/tag/update",
                masking: true,
                params: {
                    data: {
                        channelId: row.channelId,
                        tagId: row.id,
                        activated: val
                    }
                },
                callback: function (ok, data, msg, opts) {
                    if (ok) {

                    } else {
                        alert('[ERROR]' + msg);
                    }
                }
            });
        };

        event_handle.onTagDialog = function (el) {
            var id = $(el).data('tag-id');
            var row = tagtree.treegrid('find', id);
            tagdialog.find('[name="tagCrumbs"]').html(row.text);
            tagdialog.data('binding', row).dialog('open');
        }

        event_handle.onRuleDialog = function (el) {
            var id = $(el).data('tag-id');
            var row = tagtree.treegrid('find', id);
            ruledialog.data('binding', row).dialog('open');
            rulegrid.datagrid('loadData', {
                total: row.rules.length,
                rows: row.rules
            });
        }

        event_handle.onDeleteRule = function (el) {
            var ruleId = $(el).data('rule-id');
            var index = rulegrid.datagrid('getRowIndex', ruleId);
            var row = rulegrid.datagrid("getRows")[index];
            bulemine.ajaxJson({
                url: "/service/rule/delete",
                masking: true,
                params: {
                    data: {
                        channelId: row.channelId,
                        ruleId: ruleId
                    }
                },
                callback: function (ok, data, msg, opts) {
                    if (ok) {
                        rulegrid.datagrid("deleteRow", index);
                    } else {
                        alert('[ERROR]' + msg);
                    }
                }
            });
        }

        tagtree.treegrid({
            data: TAGTREE_DATA,
            idField: 'id',
            treeField: 'text',
            fitColumns: true,
            onEndEdit: function (row, changes) {
                if (!$.isEmptyObject(changes)) {
                    bulemine.ajaxJson({
                        url: "/service/tag/update",
                        masking: true,
                        params: {
                            data: $.extend({
                                channelId: row.channelId,
                                tagId: row.id,
                            }, changes)
                        },
                        callback: function (ok, data, msg, opts) {
                            if (ok) {

                            } else {
                                alert('[ERROR]' + msg);
                            }
                        }
                    });
                }
            },
            onAfterEdit: function (row, change) {
                var me = $(this);
                me.treegrid('acceptChanges');
                refreshTree();
            },
            onCancelEdit: function (row) {
                refreshTree();
            },
            onDblClickRow: function (row) {
                var me = $(this);
                var editingId = row[me.treegrid('options').idField];
                if (!row.customizable) {
                    return;
                }
                me.treegrid('beginEdit', editingId);
            },
            columns: [[
                {
                    field: 'text',
                    title: '标签',
                    width: 700,
                    editor: {
                        type: 'validatebox',
                        options: {
                            validateOnCreate: false,
                            validateOnBlur: true,
                            required: true,
                            validType: 'length[1,10]'
                        }
                    }
                }, {
                    field: 'rules',
                    title: '规则数',
                    width: 70,
                    editor: false,
                    formatter: function (value, row, index) {
                        return value.length;
                    }
                }, {
                    title: '有效',
                    field: 'activated',
                    width: 70,
                    editor: false,
                    formatter: function (value, row, index) {
                        return '<input data-id="' + row.id + '" class="easyui-switchbutton"' + (value ? ' checked ' : '')
                                + ' data-options="onChange:event_handle.onTagActivated, width:50, height:24, onText:\'是\', offText:\'否\'"/>';
                    }
                }, {
                    title: '操作',
                    field: 'id',
//                    width: 120,
                    editor: {
                        type: 'linkbutton',
                        options: {
                            button: [{
                                text: '确定',
                                handler: function (val, c, el, e, i) {
                                    tagtree.treegrid('endEdit', val);
                                }
                            }, {
                                text: '取消',
                                handler: function (val, c, el, e, i) {
                                    tagtree.treegrid('cancelEdit', val);
                                }
                            }]
                        }
                    },
                    formatter: function (value, row, index) {
                        return '<a href="javascript:;" class="datagrid-link" onclick="event_handle.onTagDialog(this);" data-tag-id="' + value + '">添加子级</a>' +
                                '<a href="javascript:;" class="datagrid-link" onclick="event_handle.onRuleDialog(this)" data-tag-id="' + value + '">配置规则</a>';
                    }
                }
            ]]
        });
        tagdialog.dialog({
            modal: true,
            resizable: false,
            width: 500,
            closed: true,
            buttons: [{
                width: 100,
                height: 30,
                text: '确定',
                handler: function (e) {
                    if (tagform.form('validate')) {
                        var tag = tagdialog.data('binding');
                        if (!!tag) {
                            bulemine.ajaxJson({
                                url: "/service/tag/create",
                                masking: true,
                                params: {
                                    data: {
                                        channelId: tag.channelId,
                                        parentId: tag.id,
                                        tagText: tagform.find('input[name="tagName"]').val()
                                    }
                                },
                                callback: function (ok, data, msg, opts) {
                                    if (ok) {
                                        tagform.form('reset');
                                        tagdialog.dialog('close').data('binding', null);
                                        tagtree.treegrid('append', {
                                            parent: tag.id,
                                            data: [data]
                                        });
                                        refreshTree();
                                    } else {
                                        alert('[ERROR]' + msg);
                                    }
                                }
                            });
                        } else {
                            alert('[ERROR]');
                        }
                    }
                }
            }, {
                width: 100,
                height: 30,
                text: '取消',
                handler: function (e) {
                    tagform.form('reset');
                    tagdialog.dialog('close').data('binding', null);
                }
            }]
        });

        ruledialog.dialog({
            modal: true,
            resizable: false,
            width: 800,
            height: 600,
            closed: true,
            buttons: [{
                width: 100,
                height: 30,
                text: '关闭',
                handler: function (e) {
                    var tag = ruledialog.data('binding');
                    if (!!tag) {
                        ruledialog.data('binding', null).dialog('close');
                        tagtree.treegrid('refresh', tag.id);
                        refreshTree();
                    } else {
                        alert('[ERROR]');
                    }
                }
            }]
        });
        rulegrid.datagrid({
            idField: 'ruleId',
            fitColumns: true,
            singleSelect: true,
            autoRowHeight: false,
            onEndEdit: function (index, row, changes) {
                var me = $(this);
                if (!!row.newest) {
                    var tag = ruledialog.data('binding');
                    bulemine.ajaxJson({
                        url: '/service/rule/create',
                        masking: true,
                        params: {
                            data: {
                                channelId: tag.channelId,
                                tagId: tag.id,
                                callType: row.callType,
                                roleType: row.roleType,
                                ruleExps: row.ruleExps
                            }
                        },
                        callback: function (ok, data, msg, opts) {
                            if (ok) {
                                rulegrid.datagrid('updateRow', {
                                    index: index,
                                    row: $.extend(data, {
                                        newest: null
                                    })
                                });
                            } else {
                                alert('[ERROR]' + msg);
                            }
                        }
                    });
                } else {
                    if (!$.isEmptyObject(changes)) {
                        bulemine.ajaxJson({
                            url: '/service/rule/update',
                            masking: true,
                            params: {
                                data: {
                                    channelId: row.channelId,
                                    ruleId: row.ruleId,
                                    callType: row.callType,
                                    roleType: row.roleType,
                                    ruleExps: row.ruleExps
                                }
                            },
                            callback: function (ok, data, msg, opts) {
                                if (ok) {

                                } else {
                                    alert('[ERROR]' + msg);
                                }
                            }
                        });
                    }
                }
            },
            onDblClickRow: function (index, row) {
                var me = $(this);
                me.datagrid('beginEdit', index);
            },
            toolbar: [{
                text: '添加规则',
                iconCls: 'icon-create-rule',
                handler: function () {
                    rulegrid.datagrid('appendRow', {
                        ruleId: $.uuid(),
                        newest: true,
                        callType: 'ALL',
                        roleType: 'ALL'
                    }).datagrid('beginEdit', rulegrid.datagrid('getRows').length - 1);
                }
            }],
            columns: [[
                {
                    field: 'callType',
                    title: '会话类型',
                    width: 100,
                    formatter: function (value, row, index) {
                        return $.easyui.formatter.combobox(value, this.editor);
                    },
                    editor: {
                        type: 'combobox',
                        options: {
                            panelHeight: 'auto',
                            editable: false,
                            textField: 'text',
                            valueField: 'value',
                            data: [{
                                text: '全部',
                                value: 'ALL'
                            }, {
                                text: '语音',
                                value: 'AUD'
                            }, {
                                text: '评论',
                                value: 'CMT'
                            }, {
                                text: '在线',
                                value: 'OL'
                            }]
                        }
                    }
                }, {
                    field: 'roleType',
                    title: '数据角色',
                    width: 100,
                    formatter: function (value, row, index) {
                        return $.easyui.formatter.combobox(value, this.editor);
                    },
                    editor: {
                        type: 'combobox',
                        options: {
                            panelHeight: 'auto',
                            editable: false,
                            textField: 'text',
                            valueField: 'value',
                            data: [{
                                text: '全部',
                                value: 'ALL'
                            }, {
                                text: '客服',
                                value: 'CSC'
                            }, {
                                text: '客户',
                                value: 'CUST'
                            }]
                        }
                    }
                }, {
                    field: 'ruleExps',
                    title: '规则',
                    width: 500,
                    editor: {
                        type: 'validatebox',
                        options: {
                            validateOnCreate: false,
                            validateOnBlur: true,
                            required: true,
                            validType: 'length[1,200]'
                        }
                    }
                }, {
                    field: 'ruleId',
                    title: '操作',
                    width: 100,
                    formatter: function (value, row, index) {
                        return '<a href="javascript:;" onclick="event_handle.onDeleteRule(this)"' +
                                ' class="datagrid-link" data-rule-id="' + row.ruleId + '">删除</a>';
                    },
                    editor: {
                        type: 'linkbutton',
                        options: {
                            button: [{
                                text: '确定',
                                handler: function (val, c, el, e, i) {
                                    var index = rulegrid.datagrid('getRowIndex', val);
                                    var row = rulegrid.datagrid('getRows')[index];
                                    rulegrid.datagrid('endEdit', index);
                                }
                            }, {
                                text: '取消',
                                handler: function (val, c, el, e, i) {
//                                    console.log(arguments);
                                    var index = rulegrid.datagrid('getRowIndex', val);
                                    var row = rulegrid.datagrid('getRows')[index];
                                    rulegrid.datagrid('cancelEdit', index);
                                    if (!!row.newest) {
                                        rulegrid.datagrid('deleteRow', index);
                                    }
                                }
                            }]
                        }
                    }
                }
            ]]
        });
        refreshTree();
    });
    //]]>
</script>
</body>
</html>