<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/bluemine_1.0.0</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="com.bluemine.domain.entity.ChannelEntity"/>
    <mapping class="com.bluemine.domain.entity.EmployeeEntity"/>
    <mapping class="com.bluemine.domain.entity.CodeProfileEntity"/>
    <mapping class="com.bluemine.domain.entity.TagEntity"/>
    <mapping class="com.bluemine.domain.entity.TagControlEntity"/>
    <mapping class="com.bluemine.domain.entity.RuleEntity"/>
    <mapping class="com.bluemine.domain.entity.CallCollectTriggerEntity"/>
    <mapping class="com.bluemine.domain.entity.SeatEntity"/>
    <mapping class="com.bluemine.domain.entity.TagCollectEntity"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>