<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<div th:fragment="main-west(first, second)" class="main-west">
    <div class="easyui-accordion">
        <div title="智慧运营" data-options="iconCls:'icon-omsc'" style="overflow:auto;padding:10px;">
        </div>
        <div title="智能质检" data-options="iconCls:'icon-znzj'" style="padding:10px;">
            <ul data-options=''>
                <li><a href="javascript:;">质检报告</a></li>
                <li><a href="javascript:;">质检项分析</a></li>
                <li><a href="javascript:;">员工分析</a></li>
                <li><a href="javascript:;">质检结果列表</a></li>
                <li><a href="javascript:;">质检结果明细</a></li>
                <li><a href="javascript:;">质检规则配置</a></li>
            </ul>
        </div>
        <div title="语义分析" data-options="iconCls:'icon-yyfx'">
        </div>
        <div title="规则配置" data-options="iconCls:'icon-gzpz'">
            <ul>
                <li><a href="javascript:;">标签管理</a></li>
                <li><a href="javascript:;">业务词配置</a></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
        $(function () {
            $('.main-west .easyui-accordion').accordion({
                animate: true,
                selected: [[${first}]]
            });
        });
    </script>
</div>
</body>
</html>