<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>规则配置 - 标签管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <script src="/theme/jquery-ui/jquery.js"></script>
    <script src="/theme/jquery-ui/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="/theme/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/theme/index.css"/>
    <link rel="stylesheet" type="text/css" href="/theme/dark-blue/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/theme/jquery-ui/css/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="/theme/dark-blue/css/jquery-ui-reset.css"/>

    <style>
        /*index.css*/

        /*dark-blue/css/style.css*/

        /*dark-blue/css/jquery-reset.css*/

    </style>
</head>
<body>

<div th:replace="/common/header::header"></div>
<div th:replace="/common/main-west::main-west"></div>

<div class="main-center">
    <div>center</div>
</div>

</body>
</html>